*{
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;    
}
button{
    background-color: yellow;
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
button:hover{
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}